body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

a:hover {
  color: #0074bb;
}

/***
 * HEADER, SIDEBAR
***/
header, main, footer {
  padding-left: 300px;
}
@media only screen and (max-width : 992px) {
  header, main, footer {
  padding-left: 0;
  }
}
main {
}
nav.top-nav {
  height: 122px;
}
nav.top-nav a.page-title {
    line-height: 122px;
    font-size: 48px;
}

#logo-container {
  height: 122px;
}
.brand-logo img {
  max-height: 70px;
}
#user-info {
  padding-left: 30px;
}
.user-pic {
  width: 70px;
  border: 4px solid #777;
}

.menu-title {
  padding-left: 30px;
  color: #999;
  font-size: .8em;
}
#small-menu {
  position: absolute;
  top: 30px;
}
#small-menu-icon {
  float: right;
}

/***
 * MAIN CONTENT
***/
#content-wrapper {
  padding: 20px;
  background-color: #ddd;
}
#main-content {
  background: white;
  margin: 20px;
  border: 1px solid #aaa;
  padding: 20px;
}

/* locations */
.item-row {
  margin-top: 20px;
}
.location-image {
  margin-right: 10px;
  max-width: 150px;
}


#error-panel li, #success-panel li {
  padding: 5px 10px;
}

.icon-text {
  margin-left: 5px;
}

#item-edit-title {
  background: #ff9800;
  text-align: center;
}

.edit-column {
  background-color: #f5f5f5;
}
.delete {
  color: red;
}
.delete-title {
  background-color: #fda;
}

#table-content table {
  background: #fff;
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}

#table-content table td {
  overflow: hidden;
  text-overflow: ellipsis;
}

.edit-column {
  width: 80px;
  text-align: center;
}

.list-image {
  max-width: 80px;
}


/****
 * LOGIN, REGISTER Pages
****/
#login-container .fields, #register-container .fields {
 font-size: 3em; 
}
#login-card, #register-card {
  margin-top: 80px;
  padding: 40px;
}
