include head.pug

body.red
  #login-container.row
    .col.s2
    .col.s8
      #login-card.card-content.z-depth-5.grey.lighten-4
        block content
          #error-action
            p An error occured. Please 
              a(href='/') start over.
            pre= message
          #error-details.card-panel.red.lighten-3
            h3 Error Details
            p= error.detail
            pre #{error.stack}
    .col.s2
