block footer
  script(type='text/javascript' src='/js/jquery.min.js')
  script(src="/js/materialize.min.js")
  script(type='text/javascript').
    $(document).ready(function() {
      $('.modal').modal();
      $(".button-collapse").sideNav();
      $('.materialize-textarea').trigger('autoresize');
    });
