extends layout

block content
  if error
    ul.card-panel.red.white-text#message-panel
        li= error

  h2 Makergrounds Website Backend
  p Here you can edit the content of the database that drives the websites: http://makergrounds.virginia.edu

  ul.collection.with-header
    li.collection-header: h2 Edit What?
    li.collection-item.avatar 
      i.material-icons.circle business
      span.title: a(href='/locations/') Locations
      p edit the locations where spaces, labs, and such are found
    li.collection-item.avatar
      i.material-icons.circle format_paint
      span.title: a(href="/tools/") Tools
      p edit the tools associated with each location
    li.collection-item.avatar
      i.material-icons.circle recent_actors
      span.title: a(href="/people/") People
      p edit the people associated with each location
