extends layout

block content
  h1 Makergrounds Website Backend
  p Here you can edit the content of the database that drives the websites: http://makergrounds.virginia.edu

  ul
    li: h2: a(href='/locations/') Locations
    li: h2: a(href="/tools/") Tools
    li: h2: a(href="/categories/") Categories
