extends layout

block content
  section.loginform
  form(name="login" action="/auth/login" method="post" accept-charset="utf-8")
    if message
      h2= message
    ul
      li 
        label(for="username") Username
        input(type="text" name="username" required)
      li
        label(for="password") Password
        input(type="password" name="password" required)
      li
        input.btn.green.waves-effect.waves-light(type="submit" value="Login")
