nav.top-nav
  .container
    .nav-wrapper
      a.page-title(href='/')= title
.container
  a(href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only")
    i.material-icons menu
