// Side bar 
ul.side-nav.fixed
  li.logo
    a#logo-container.brand-logo.center(href="/")
      img(src='/images/uva-makers-logo-non-alpha.png') 
  li.bold#user-info
    if userInfo
      img.user-pic.responsive-img.circle(src='/uploads/' + userInfo.img)
      ul#user-actions
        li= userInfo.username
        li
          a(href='/users/' + userInfo.username) settings
        li
          a(href='/logout/') logout
  li.divider
  li
    span.menu-title main
    a(href='/locations') Locations
      i.material-icons business
  li
    a(href='/tools') Tools
      i.material-icons vpn_key
  li
    a(href='/people') People
      i.material-icons recent_actors
  li.divider
  li
    span.menu-title admin
    a(href='/categories') Categories
      i.material-icons toc
  li
    a(href='/users') Users
      i.material-icons assignment_ind
