// Side bar 
ul.side-nav.fixed
  li.logo
    a#logo-container.brand-logo.center(href="/")
      img(src='/images/uva-makers-logo-non-alpha.png') 
  li.bold
    #profile
      if userInfo
        #user-pic.left
          a(href='/users/' + userInfo.username)
            if userInfo.img
              img.responsive-img.circle(src='/uploads/' + userInfo.img)
            else
              img.responsive-img.circle(src='/images/default-user.jpg')
        #user-info
          p
            a(href='/users/' + userInfo.username)= userInfo.fullname
        #user-actions
          a(href='/users/' + userInfo.username)
            i.material-icons settings
          a(href='/logout/') 
            i.material-icons power_settings_new
  li.divider
  li
    span.menu-title main
    a(href='/locations') Locations
      i.material-icons business
  li
    a(href='/tools') Tools
      i.material-icons vpn_key
  li
    a(href='/people') People
      i.material-icons recent_actors
  li.divider
  li
    span.menu-title admin
    a(href='/categories') Categories
      i.material-icons toc
  li
    a(href='/users') Users
      i.material-icons assignment_ind
