.dialog
  #confirm
  nav.white#top-nav
    .nav-wrapper
      h3: a.left.brand-logo(href="/"): img#logo(src="/images/uva-makers-logo-non-alpha.png")
      ul#nav-mobile.right.hide-on-med-and-down
        li: a.top-nav(href="/locations/") Locations
        li: a.top-nav(href="/tools/") Tools
        li: a.top-nav(href="/categories/") Categories
    nav.green
      .nav-wrapper
        ul#left
          if userInfo
            li: a.bottom-nav(href="/logout/") Logout
          else
            li: a.bottom-nav(href="/login/") Login
            li: a.bottom-nav(href="/register/") Register
        if userInfo
          .right
            #user= 'Logged in as ' + userInfo.username
