.dialog
  #confirm
  nav.white#top-nav
    .nav-wrapper
      h1.right.teal-text.darken-4 MakerGrounds Backend
      h3: a.left.brand-logo(href="/"): img#logo(src="/images/uva-makers-logo-non-alpha.png")
    nav.green
      .nav-wrapper
        ul#left
          if userInfo
            li: a.bottom-nav(href="/logout/") Logout
          else
            li: a.bottom-nav(href="/login/") Login
            li: a.bottom-nav(href="/register/") Register
        if userInfo
          .right
            span.left#user= 'Logged in as ' + userInfo.username
            i.right.material-icons: a(href='/users/' + userInfo.username) settings
