extends layout

block content
  if values
    - var email = values.email
    - var username = values.username
  ul.collection
    li.collection-item.avatar
      i.material-icons.circle perm_identity
      span.title Username
      p= username
    li.collection-item.avatar
      i.material-icons.circle email
      span.title Email
      p= email
