extends layout

block content
  if values
    - var email = values.email
    - var username = values.username
  section.registerform
  ul
    li 
      h2 Username
      p= username
    li 
      h2 Email
      p= email
